/* About Us css start*/

.overview
{
    background-color: #1b3a57;
    margin: 24px 167px 24px 167px ;
    padding: 80px 80px 80px 80px;
    border-radius: 24px;
    text-align: center;

}
.over_head
{
    display: flex;
    justify-content: space-around;

}
.tit_abc
{
    font-size: 30px;
}
.desc_abu
{
    font-size: 26px;
}
.over_head img
{
    width: 48px;
    height: 48px;
}


.mission, .vision, .values {
    cursor: pointer;
   display: flex;
   align-items: center;
   padding: 10px;
}


.info-section {
    display: none;
}

.active-section {
    display: block;
}

.slider-container {
    width: 85%;
    margin: 20px auto;
  }

  .slider {
    appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 16px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 331px;
    height: 3px;
   
    background: #000000;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000;
    cursor: pointer;
  }
/**/

/*About Us css ends*/


/*--------------------------------------------------------------
               Team members section
----------------------------------------------------------------*/
.abus_team_mem
{
    background-color: #1b3a57;
    margin: 24px 167px 24px 167px ;
    padding: 80px 80px 80px 80px;
    border-radius: 24px;
    text-align: center;
    
}
.team_mem_tit
{
    font-size: 34px;
}
.team_mem_desc
{
    font-size: 28px;
    justify-content: center;
    padding: 24px;
}

.team_mem_cont
{
    display: flex;
    margin: 22px;
}
.team_mem_card 
{
    padding: 0px 24px 0px 24px;
    width: 208px;
    height: auto;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    border-radius: 24px;
}
.team_mem_card p
{
    padding:12px 0px ;
   text-align: end;
   margin: 0%;
}
.tm_card
{
    padding: 24px 0px 32px 0px;
}
.tm_card img
{
    width: 120px;
    height: 120px;
    border-radius: 75px;
    
}

.team_mem_card:hover {
    background-color: #112537; 
    border-color: white; 
    border: none;
}
.tm_card_details
{
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 24px;
}
.tm_card_details h1
{
    margin: 0%;
    align-items: end;
    text-align: left;
   
}
.team_social
{
    display: flex;
    justify-content: end;
    align-items: end;
}
.team_social img
{
    width: 34px;
    height: 34px;
    display: flex;
    padding: 4px;
    border-radius: 12px;
   
}



.team_mem_cont {
    display: grid;
    grid-template-columns: repeat(3, auto); /* 3 columns */
    grid-gap: 24px; /* Gap between grid items */
    justify-content: center; /* Centering the grid horizontally */
}

.team_mem_card {
    padding: 0 24px;
    width: 208px;
    height: auto;
    background-color: transparent;
    border: 1px solid #d3d3d3;
    border-radius: 24px;
}
/*--------------------------------------------------------------
                company collbration slide
----------------------------------------------------------------*/
.companystrip_sec
{
   justify-content: center;
    background-color: #1b3a57;
    margin: 24px 167px 24px 167px ;
    padding: 80px 80px 80px 80px;
    border-radius: 24px;
    text-align: center;
}
.companystrip_sec h1
{
    font-size: 32px;
}
.companystrip_sec p
{
    font-size: 26px;
    margin-bottom: 44px;
}





.slider2 {
    background: #11253793;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider2::before,
.slider2::after {
    background: linear-gradient(to right,#1b3a57 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider2::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider2::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide {
    height: 100px;
    width: 250px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7)); }
}
