
body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    background-color: #112537;
    color: rgb(255, 255, 255);
    margin: 0%;
    
}
a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a :hover
{
    color: #92cceb;
}

/*Header starts*/
.promotion
{
    background-color: #e1f3fc28;  
    display: flex;
    align-items: center;
    justify-content: space-around;   
    color:#ffffff; 
    font-style: bold;
}
.promotion a
{
    color: #92cceb;  
}
.promotion a:hover
{
    color: #ffffff;  
}
/*Header ends*/


/*Naviagtion Start*/
nav
{
    background-color: #7cacf8;
}
.bg_nav
{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin: 0px 167px 0px 167px ;
    color: black;
}
nav a
{
    color: black;
    font-weight:600;
}
nav a:hover
{
    color: rgb(255, 255, 255);
    font-weight:600;
}
ul
{
    list-style: none;
    display: flex;
    justify-content: center;
}
ul li {
    margin: 0 14px; 
}

#logo_img
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.logo
{
    display: flex;
    align-items: center;
}
#logo_name
{
    font-size: 34px;
}
#king
{
    margin-left: 6px;
    color: white;
}
#portal
{
    color: #003399;
}
.nav_pages
{
    display: flex;
    align-items: center;
}

#login_btn
{
    width: 74px;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    color: #00a6ff;
    border: none;
    margin: 5px;
}
#signup_btn
{
    width: 74px;
    height: 40px;
    border-radius: 4px;
    background-color: #30abee;
    color: white;
    border: none;
    margin: 5px;
}
#login_btn:hover
{
    background-color: #30abee;
    color: white;
}
   
#signup_btn:hover
{
    background-color: white;
    color: #00a6ff;
}

/*Naviagtion ends*/

/*--------------------------------------------------------------------------------------------*/

/*Hero starts*/
.hero_sec
{
    margin: 80px 167px 80px 167px ;
}
.hero
{
    align-items: center;
    justify-content: center;
    display: flex;  
}
.hero_cont
{
    display: flex;
    position: relative;
    width: 1105px;
    height: 457px;
    margin-bottom: 10px;
}

#hi_s
{   
    width: 824px;
    height: 457px;
    border-radius: 8px;
}
.hero_info_cont
{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    color: white;
    background-color: #1b3a57;
    width: 563px;
    height: 339px;
    border-radius: 8px;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s;
    
}
.hero_img .hero_info_cont {
    visibility: visible;
    opacity: 1;
}
.hic_head
{
    width: 467px;
    height: 83px;
    text-align: center;
    font-size: 48px;
}
.slider-dots {
    position: absolute;
    bottom: -30px; /* Adjust this value to position the dots just below hero_cont */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    
}
.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active {
    background-color: #000000;
}
/*Hero ends*/
/**/
/**/
/**/
/**/


/*-------------------------------------------
            Tech starts
-------------------------------------------*/
.tech_sec
{
    background-color: #1b3a57;
    margin: 0px 167px 14px 167px ;
    border-radius: 24px;
    padding: 40px 0px 40px 0px ;
    text-align: center;
   
}
.tech_sec_info
{
    margin-top: 24px;
    margin-bottom: 32px;
}
.tech_sec button
{
    width: 129px;
    height: 40px;
    border: none;
    border-radius: 6px;
}
.tech_slide
{
    margin-top: 48px;
    display: flex;
    justify-content: center;

}
.tech_slide img
{
    width: 250px;
    height: 350px;
    margin: 0px 24px;
    overflow: hidden;
}
/*--------------------------------------------------------------------------------------------*/
/*Academy starts*/

.academy_sec
{
    background-color: #1b3a57;
    margin: 0px 167px 24px 167px ;
    padding: 80px 0px 80px 0px ;
    border-radius: 24px;
    text-align: center;
}

/*--------------------------------------------------------------------------------------------*/
/*career starts*/

.career_sec
{
    background-color: #1b3a57;
    margin: 0px 167px 24px 167px ;
    padding: 80px 0px 80px 0px ;
    border-radius: 24px;
    text-align: center;
}



/*------------------
academy
------------------------*/

.expanddays_sec {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0px 80px 0px;
}

.credit {
    position: absolute;
    bottom:20px;
    left:20px;
    color:inherit;
}

.options {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    overflow:hidden;
    min-width:600px;
    max-width:900px;
    width:calc(100% - 100px);
    height:400px;
}

@media screen and (max-width:798px) {
    .options {
        min-width:520px;
    }
}

.option {
    position: relative;
    overflow:hidden;
    min-width:60px;
    margin:10px;
    background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
    background-size:auto 120%;
    background-position:center;
    cursor: pointer;
    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    border-radius:30px;
}

.option.active {
    flex-grow:10000;
    transform:scale(1);
    max-width:600px;
    margin:0px;
    border-radius:40px;
    background-size:auto 100%;
}

.option.active .shadow {
    box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

.option.active .label {
    bottom:20px;
    left:20px;
}

.option.active .label .info >div {
    left:0px;
    opacity:1;
}

.option:not(.active) .shadow {
    bottom:-40px;
    box-shadow:inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

.option:not(.active) .label {
    bottom:10px;
    left:10px;
}

.option:not(.active) .label .info >div {
    left:20px;
    opacity:0;
}

.option .shadow {
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    height:120px;
    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.option .label {
    display:flex;
    position: absolute;
    right:0px;
    height:40px;
    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.option .label .icon {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    min-width:40px;
    max-width:40px;
    height:40px;
    border-radius:100%;
    background-color:white;
    color:var(--defaultBackground);
}

.option .label .info {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-left:10px;
    color:white;
    white-space: pre;
}

.option .label .info >div {
    position: relative;
    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
}

.option .label .info .main {
    font-weight:bold;
    font-size:1.2rem;
}

.option .label .info .sub {
    transition-delay:.1s;
}
/*------------------------music player
*/
.media_player
{
        box-sizing: border-box;
        margin: 0px 167px 0px 167px;
        background-image: -webkit-linear-gradient(
          0deg,
          #92cceb 23.8%,
          #8adedf 92%
        );
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
        
    
}

.music-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 0 rgba(252, 169, 169, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
  }
  
  .img-container {
    position: relative;
    width: 110px;
  }
  
  .img-container::after {
    content: "";
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
  .img-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
  
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }
  
  .img-container.play .img-container {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color: white;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
  }
  
  .action-btn-big {
    color: #cdc2d0;
    font-size: 30px;
  }
  
  .action-btn:focus {
    outline: 0;
  }
  
  .music-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px 15px 0;
    padding: 10px 10px 10px 150px;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }
  
  .music-info h4 {
    margin: 0;
  }
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .progress-container {
    background: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    transition: with 0.1s linear;
  }
  