/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7d2ae8;
  padding: 30px;
}
.form_container{
  position: relative;
  max-width: 850px;
  width: 100%;
  height: 425px;
  background: #fff;
  padding: 15px 35px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  perspective: 2700px;
}

/*--------------------------------------------
           code of cover flip
----------------------------------------------*/
.form_container .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}

.form_container #flip:checked ~ .cover {
  transform: rotateY(180deg);
}

.form_container #flip:checked ~ .cover .front {
  transform: rotateY(180deg);
  opacity: 0;
}

.form_container #flip:checked ~ .cover .back {
  transform: rotateY(180deg);
  opacity: 1;
}

.form_container .cover .back_text {
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover .back_text .back_text-1,
.cover .back_text .back_text-2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .back_text .back_text-2 {
  font-size: 15px;
  font-weight: 500;
}

.form_container .cover .front,
.form_container .cover .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cover .back {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.form_container .cover::before,
.form_container .cover::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7c2ae8;
  opacity: 0.5;
  z-index: 12;
}

.form_container .cover::after {
  opacity: 0.3;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}

.form_container .cover img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
}

.form_container .cover .front_text {
  position: absolute;
  z-index: 130;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover .front_text .front_text-1,
.cover .front_text .front_text-2 {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.cover .front_text .front_text-2 {
  font-size: 15px;
  font-weight: 500;
}

/*--------------------------------------------
           end code of cover flip
----------------------------------------------*/


.form_container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.form_container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #7d2ae8;
}
.forms .signup-form  .title:before{
  width: 20px;
}
.forms .form-content .input-boxes{
  margin-top: 16px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #7d2ae8;
}
.form-content .input-box i{
  position: absolute;
  color: #7d2ae8;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a{
  text-decoration: none;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #7d2ae8;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #5b13b9;
}
.forms .form-content label{
  color: #5b13b9;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.form_container #flip{
  display: none;
}


.button_google {
  display:inline-block;
  align-items: center; 
  justify-content: flex-start; 
  width: 100%;
  position: relative;
}

.button_google input[type="button"] {
  color: #fff;
  background: #0b57d0; 
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  font-weight: 600;
  height: 35px;
  width: 100%;

}

#google_icon {
  width: 35px; 
  height: 35px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px;
}
.button_google input[type="button"]:hover {
  background: #0a4db9; 
  
}

.text_option
{

  text-align: center;
}
